/* Orbeon root class */
.orbeon {
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-size: 16px !important;
  line-height: 1.6 !important;
}

/* Focus style */
:focus {
  outline: 4px solid #3B99FC !important;
}

/* Border around form */
.fr-border {
  border: none !important;
}

/* Links */
.orbeon a {
  color: #1a5a96;
}
.orbeon a:hover {
  color: blue;
  text-decoration: none;
}

/* Primary buttons in text (non-form buttons that have made their way into content) */
.orbeon .btn-primary {
  background-color: #003366;
  border-color: #003366;
  color: white;
}

.orbeon .btn-primary:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/* Section titles */
.orbeon .xbl-fr-section h2.fr-section-title, .orbeon .xbl-fr-section h3.fr-section-title, .orbeon .xbl-fr-section h4.fr-section-title, .orbeon .xbl-fr-section h5.fr-section-title, .orbeon .xbl-fr-section h6.fr-section-title {
  background-color: white !important;
  background-image: none !important;
  color: #313132 !important;
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-weight: 700 !important;
}
.orbeon .xbl-fr-section h2.fr-section-title {
  font-size: 30px !important;
}
.orbeon .xbl-fr-section h3.fr-section-title {
  font-size: 26px !important;
}
.orbeon .xbl-fr-section h4.fr-section-title {
  font-size: 21px !important;
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label {
  color: #313132 !important;
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-size: 30px !important;
}
.orbeon .xbl-fr-section .fr-section-title .fr-section-label a {
  color: #313132 !important;
}

.p1, .p2, .s1 {
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-size: 16px;
  line-height: 1.6
}

/* Checkbox labels */
.orbeon label.checkbox {
  color: #313132 !important;
  cursor: pointer !important;
  display: block !important;
  font-size: 16px !important;
  margin-bottom: 12px !important;
  position: relative !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
}

/* Checkbox inputs */
.orbeon label.checkbox input[type="checkbox"] {
  background-color: #fff !important;
  border: 2px solid #606060 !important;
  border-radius: 0 !important;
  display: inline-block !important;
  font-size: 0.9em !important;
  height: 18px !important;
  line-height: 0.9em !important;
  margin-top: 0 !important;
  position: relative !important;
  text-align: center !important;
  width: 18px !important;
  appearance:none !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
}

/* Checkbox checkmarks (white on grey background) */
.orbeon label.checkbox input[type="checkbox"]:checked {
  background-color: #606060 !important;
}
.orbeon label.checkbox input[type="checkbox"]:after {
  color: white !important;
  content: '\2713' !important;
}

/* Checkbox label spans */
.orbeon label.checkbox span {
  margin-left: 25px !important;
}

/* Checkbox spans when checked */
.orbeon label.checkbox input[type="checkbox"]:checked ~ span:after {
  background-color: #606060 !important;
}

/* List items */
.orbeon li {
  font-size: 16px;
  line-height: 1.6;
}

/* Radio button labels */
.orbeon .xforms-select1-appearance-full label.radio {
  color: #313132 !important;
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-size: 16px !important;
  position: relative !important;
}

/* Radio button (hide the browser default) */
.orbeon label.radio input[type="radio"] {
  opacity: 0;
}

/* Radio button label text in span */
.orbeon .xforms-select1-appearance-full label.radio > span {
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  margin: 0 0 5px 30px;
}

/* Radio button (BC style) */
.orbeon label.radio span:before {
  background-color: transparent;
  border: 2px solid #606060;
  border-radius: 50%;
  content: '';
  /* display: inline-block; */
  height: 20px;
  left: 0px;
  /* margin: 0 5px 0 0; */
  position: absolute;
  top: 0px;
  width: 20px;
}
.orbeon label.radio input[type="radio"]:focus + span:before {
  outline: 4px solid #3B99FC !important;
}

/* Radio button dot (BC Style), hidden when not checked */
.orbeon label.radio input[type="radio"]:checked + span:after {
  background: #606060;
  border-radius: 50%;
  content: '';
  height: 10px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 10px;
}

/* Required asterisk red */
.orbeon .xforms-required .xforms-label::before {
  color: #D8292F !important;
}
.orbeon .xbl-fr-checkbox-input.xforms-required .checkbox span::before {
  color: #D8292F !important;
}
.orbeon .fr-mode-new .xforms-required.xforms-empty .xforms-label::before {
  color: #D8292F !important;
}
.orbeon .fr-mode-new .xforms-required .xforms-label::before {
  color: #D8292F !important;
}

/* Select dropdown */
.orbeon .xbl-fr-grid .fr-grid select {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMjA3LjAyOSAzODEuNDc2TDEyLjY4NiAxODcuMTMyYy05LjM3My05LjM3My05LjM3My0yNC41NjkgMC0zMy45NDFsMjIuNjY3LTIyLjY2N2M5LjM1Ny05LjM1NyAyNC41MjItOS4zNzUgMzMuOTAxLS4wNEwyMjQgMjg0LjUwNWwxNTQuNzQ1LTE1NC4wMjFjOS4zNzktOS4zMzUgMjQuNTQ0LTkuMzE3IDMzLjkwMS4wNGwyMi42NjcgMjIuNjY3YzkuMzczIDkuMzczIDkuMzczIDI0LjU2OSAwIDMzLjk0MUwyNDAuOTcxIDM4MS40NzZjLTkuMzczIDkuMzcyLTI0LjU2OSA5LjM3Mi0zMy45NDIgMHoiLz48L3N2Zz4=');
  background-color: white !important;
  background-position: right 10px center !important;
  background-repeat: no-repeat !important;
  background-size: 1em !important;
  border: 2px solid #606060 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #313132 !important;
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-size: 16px !important;
  height: 34px !important;
  line-height: 20px !important;
  min-width: 200px !important;
  padding: 5px 45px 5px 15px !important;
  appearance:none !important;
  -webkit-appearance: none !important;
  -moz-appearance:none !important;
}

/* Dropdown menu (left control in grid) */
.orbeon .dropdown.fr-grid-dropdown-menu.open ul.dropdown-menu li {
  background: none;
  padding-left: 0px;
}

/* Hint text */
.orbeon .fr-grid .xforms-hint {
  color: #313132 !important;
  font-size: 16px !important;
  margin-top: 0 !important;
}

/* Text input */
.orbeon .xbl-fr-grid .fr-grid input[type="text"] {
  border: 1px solid #606060 !important;
  border-radius: 4px !important;
  color: #313132 !important;
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-size: 16px !important;
  height: 44px !important;
  margin: 0 0 0 0 !important;
  padding: 5px 5px 5px 7px !important;
  transition: none !important;
}
.orbeon .xbl-fr-grid .fr-grid input[type="text"]:focus {
  border: 1px solid #3B99FC !important;
  box-shadow: 0 0 0 2px #3B99FC;
  outline: none !important;
}

/* Text input with character count for secrets/passwords */
.orbeon .xforms-secret input {
  border: 1px solid #606060 !important;
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-size: 16px !important;
  height: 44px !important;
}
.orbeon .xforms-secret input:focus {
  border: 1px solid #3B99FC !important;
  box-shadow: 0 0 0 2px #3B99FC;
  outline: none !important;
}
.orbeon .xbl-fr-character-counter > .fr-charcounter-wrapper > .xforms-control.xforms-secret.xforms-incremental input {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-right: none !important;
}
.orbeon .xbl-fr-character-counter > .fr-charcounter-wrapper > .xforms-control.xforms-secret.xforms-incremental input:focus {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-right: 1px solid #3B99FC !important;
  outline: none !important;
}
.orbeon .xbl-fr-character-counter > .fr-charcounter-wrapper > .fr-charcounter-count {
  border: 1px solid #606060 !important;
  border-left: none !important;
  border-radius: 0px 4px 4px 0px !important;
  height: 44px !important;
  line-height: 2.4 !important;
  margin: 0px !important;
  margin-left: 0px !important;
}
.orbeon .xbl-fr-character-counter > .fr-charcounter-wrapper > .fr-charcounter-count .label.fr-charcounter-current.xforms-control.xforms-output {
  background: none !important;
  color: #767676 !important;
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 2.6 !important;
  padding: 0px 8px !important;
  text-shadow: none !important;
}

/* Text output */
.orbeon .xforms-output.xforms-output-appearance-minimal output[role="textbox"] {
  font-size: 16px !important;
}

/* Textarea input - plain text */
.orbeon .xbl-fr-grid .fr-grid textarea {
  border: 1px solid #606060 !important;
  border-radius: 4px !important;
  font-size: 16px !important;
}
.orbeon .xbl-fr-grid .fr-grid textarea:focus {
  border: 1px solid #3B99FC !important;
  box-shadow: 0 0 0 2px #3B99FC;
  outline: none !important;
}

/* Textarea input - formatted text in TinyMCE WYSIWYG editor */
.orbeon .mce-tinymce {
  border: 1px solid #606060 !important;
}
.orbeon .mce-btn-group:not(:first-child) {
  border-left: 1px solid #606060 !important;
}

/* Add-on buttons next to input fields */
.orbeon .xforms-form .xbl-component .input-prepend > .add-on,
.orbeon .xforms-form .xbl-component .input-append > .add-on {
  min-height: 44px;
  /* min-width: 44px; */
}
.orbeon .xforms-form .xbl-component .input-prepend > .add-on i,
.orbeon .xforms-form .xbl-component .input-append > .add-on i {
  margin-top: 10px;
}
/* Add-on prepend, ie. "$" label before input field */
.orbeon .input-prepend .add-on {
  background-color: white;
  border-color: #606060;
  border-right: 0px !important;
}
/* .orbeon .xforms-form .xbl-component .input-append > :not(.add-on) {
  border-right: 0px !important;
  border-top-right-radius: 0px 0px !important;
  border-bottom-right-radius: 0px 0px !important;
} */
.orbeon .xforms-form .xbl-component .input-prepend > :not(.add-on) {
  border-left: 0px !important;
  border-top-left-radius: 0px 0px !important;
  border-bottom-left-radius: 0px 0px !important;
}
.orbeon .xforms-form .xbl-component .input-prepend > .add-on .xforms-output-output,
.orbeon .xforms-form .xbl-component .input-append > .add-on .xforms-output-output {
  font-size: 16px !important;
  line-height: 2 !important;
  text-shadow: none !important;
}
.orbeon .xforms-form .xbl-component .input-append .xforms-input-input {
  border-bottom: 1px solid #606060 !important;
  border-left: 1px solid #606060 !important;
  border-right: 0px !important;
  border-top: 1px solid #606060 !important;
  border-radius: 4px 0px 0px 4px !important;
}
.orbeon .xforms-form .xbl-component .input-append .add-on:last-child {
  background-color: white !important;
  border-bottom: 1px solid #606060 !important;
  border-left: 0px !important;
  border-right: 1px solid #606060 !important;
  border-top: 1px solid #606060 !important;
}

/* Input field with both suffix and prefix add-ons, needs square border */
.orbeon .xforms-form .xbl-component .input-prepend.input-append .xforms-input-input {
  border-bottom: 1px solid #606060 !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 1px solid #606060 !important;
  border-radius: 0px !important;
}

/* .orbeon .xforms-form .xbl-component .input-prepend.input-append .add-on:last-child {
  border-right: 1px solid #606060 !important;
} */

/* .orbeon .input-prepend.input-append .add-on:first-child, .orbeon .input-prepend.input-append .btn:first-child */

/* Help icon (FontAwesome circled "i", changed to circled "?") */
.orbeon .xbl-fr-grid .fr-grid .xforms-help:not(:empty)::before {
  content: "\f059";
}
.orbeon .xbl-fr-grid .fr-grid .xforms-help:not(:empty) {
  font-size: 16px !important;
  max-height: 16px !important;
  max-width: 16px !important;
}

/* Popover div (hint text) */
.orbeon .popover {
  background-color: #E6E6E6 !important;
  box-shadow: 0px 2px 2px #00000029 !important;
}
.orbeon .popover.xforms-help-popover {
  border: 0px !important;
}
/* Popover div "X" close button */
.orbeon .popover.xforms-help-popover .close {
  color: #313132 !important;
  opacity: 1.0 !important;
  text-shadow: none !important;
}
.orbeon .popover.xforms-help-popover .close:hover {
  opacity: 0.9 !important;
}
.orbeon .popover.xforms-help-popover .popover-content {
  font-size: 16px !important;
}
.orbeon .popover-title {
  background-color: #E6E6E6 !important;
  border-bottom: none !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
/* Popover div arrow */
.orbeon .popover.bottom .arrow {
  border-bottom-color: #E6E6E6 !important;
}
.orbeon .popover.bottom .arrow::after {
  border-bottom-color: #E6E6E6 !important;
}
.orbeon .popover.left .arrow {
  border-left-color: #E6E6E6 !important;
}
.orbeon .popover.left .arrow::after {
  border-left-color: #E6E6E6 !important;
}
.orbeon .popover.right .arrow {
  border-right-color: #E6E6E6 !important;
}
.orbeon .popover.right .arrow::after {
  border-right-color: #E6E6E6 !important;
}
.orbeon .popover.top .arrow {
  border-top-color: #E6E6E6 !important;
}
.orbeon .popover.top .arrow::after {
  border-top-color: #E6E6E6 !important;
}

/* Question labels */
.orbeon .fr-grid .xforms-label {
  color: #313132 !important;
  font-size: 16px !important;
  font-weight: 700;
  margin: 0 0 7px 0 !important;
}

/* Question group */
.orbeon .xbl-fr-grid .fr-grid:not(.fr-grid-css) .fr-grid-body .fr-grid-td > .xforms-control, .orbeon .xbl-fr-grid .fr-grid:not(.fr-grid-css) .fr-grid-body .fr-grid-td > .xbl-component, .orbeon .xbl-fr-grid .fr-grid:not(.fr-grid-css) .fr-grid-body .fr-grid-td > .xforms-group {
  margin: 0 0 30px 0 !important;
}

/* Wizard left navigation panel */
.orbeon .nav-list {
  padding-left: 0 !important;
}
.orbeon .xbl-fr-wizard .fr-wizard-toc {
  min-width: 250px;
}

/* Wizard left navigation link list items */
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav li {
  background: none;
}

/* Wizard left navigation link text (normally no-wrap) */
.orbeon .xbl-fr-wizard .fr-wizard-toc .nav a {
  white-space: normal;
}
.orbeon .nav-list > .active > span > a, .orbeon .nav-list > .active > span > a:hover {
	background-color: #355992;
}

/* Wizard left navigation pagination links */
.contentPageMainColumn .fr-wizard-navigation ul > li {
  background: none !important;
  display: inline-block;
  padding-left: 0px;
}

/* Wizard left navigation pagination button group */
.orbeon .pagination ul {
  box-shadow: none !important;
}

/* Wizard left leftnavigation pagination count span */
.orbeon .pagination ul > li > span.fr-page-number {
  border: 2px solid white;
}

/* Wizard left navigation pagination link - right arrow button enabled (BC Secondary Button) */
.orbeon .pagination ul > li:last-child > span.fr-wizard-next.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal {
  background-color: white;
  border: 2px solid #003366;
}
.orbeon .pagination ul > li:last-child > span.fr-wizard-next.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal:hover {
  background-color: #003366;
  color: white;
  opacity: 0.8;
}
.orbeon .pagination ul > li:last-child > span.fr-wizard-next.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal a i.fa.fa-fw.fa-chevron-right::before {
  color: #003366;
}
.orbeon .pagination ul > li:last-child > span.fr-wizard-next.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal:hover a i.fa.fa-fw.fa-chevron-right::before {
  color: white;
}

/* Wizard left navigation pagination link - right arrow button disabled (BC Disabled Primary Button) */
.orbeon .pagination ul > li:last-child > span.fr-wizard-next.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal.xforms-readonly {
  cursor: not-allowed;
  opacity: 0.3;
}
.orbeon .pagination ul > li:last-child > span.fr-wizard-next.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal.xforms-readonly a {
  cursor: not-allowed;
}
.orbeon .pagination ul > li:last-child > span.fr-wizard-next.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal.xforms-readonly a i.fa.fa-fw.fa-chevron-right::before {
  color: #003366;
  cursor: not-allowed;
}
.orbeon .pagination ul > li:last-child > span.fr-wizard-next.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal.xforms-readonly a i.fa.fa-fw.fa-chevron-right {
  opacity: 1;
}

/* Wizard left navigation pagination link - left arrow button enabled (BC Secondary Button) */
.orbeon .pagination ul > li:first-child > span.fr-wizard-prev.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal {
  background-color: white;
  border: 2px solid #003366;
}
.orbeon .pagination ul > li:first-child > span.fr-wizard-prev.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal:hover {
  background-color: #003366;
  color: white;
  opacity: 0.8;
}
.orbeon .pagination ul > li:first-child > span.fr-wizard-prev.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal a i.fa.fa-fw.fa-chevron-left::before {
  color: #003366;
}
.orbeon .pagination ul > li:first-child > span.fr-wizard-prev.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal:hover a i.fa.fa-fw.fa-chevron-left::before {
  color: white;
}

/* Wizard left navigation pagination link - left arrow button disabled (BC Disabled Secondary Button) */
.orbeon .pagination ul > li:first-child > span.fr-wizard-prev.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal.xforms-readonly {
  background-color: white;
  cursor: not-allowed;
  opacity: 0.3;
}
.orbeon .pagination ul > li:first-child > span.fr-wizard-prev.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal.xforms-readonly a {
  cursor: not-allowed;
}
.orbeon .pagination ul > li:first-child > span.fr-wizard-prev.xforms-control.xforms-trigger.xforms-trigger-appearance-minimal.xforms-readonly a i.fa.fa-fw.fa-chevron-left::before {
  color: #003366;
  cursor: not-allowed;
}

/* Bottom navigation - all buttons */
.orbeon .fr-buttons .xforms-trigger button {
  min-width: 9.5em;
  width: auto;
}
@media (max-width: 640px) {
  .orbeon .fr-buttons .xforms-trigger button {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
span.xforms-control.xforms-trigger.xforms-trigger-appearance-full button {
  background-image: none !important;
  border: 2px solid;
  box-shadow: none !important;
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 700;
  padding: 10px 30px !important;
  text-shadow: none !important;
}
span.xforms-control.xforms-trigger.xforms-trigger-appearance-full button:hover {
  text-decoration: underline;
}
span.xforms-control.xforms-trigger.xforms-trigger-appearance-full.xforms-readonly button:hover {
  cursor: not-allowed !important;
  text-decoration: none;
}

/* Bottom navigation - Next button enabled (BC Primary Button) */
span.fr-wizard-next-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button {
  background-color: #003366;
  border-color: #003366;
  color: white;
}
span.fr-wizard-next-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button:hover {
  opacity: 0.8;
}
span.fr-wizard-next-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button i {
  color: white;
}

/* Bottom navigation - Next button disabled (BC Disabled Primary Button) */
span.fr-wizard-next-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full.xforms-readonly button {
  background-color: #003366;
  border-color: #003366;
  color: white;
  cursor: not-allowed;
  opacity: 0.3;
}
span.fr-wizard-next-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full.xforms-readonly button i {
  color: white;
  opacity: 1;
}

/* Bottom navigation - Previous button enabled (BC Secondary Button) */
span.fr-wizard-prev-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button {
  background-color: white;
  border-color: #003366;
  color: #003366;
}
span.fr-wizard-prev-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button:hover {
  background-color: #003366;
  border-color: #003366;
  color: white;
  opacity: 0.8;
}
span.fr-wizard-prev-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button i {
  color: #003366;
}
span.fr-wizard-prev-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button:hover i {
  color: white;
}

/* Bottom navigation - Previous button disabled (BC Disabled Secondary Button) */
span.fr-wizard-prev-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full.xforms-readonly button {
  background-color: white;
  border-color: #003366;
  color: #003366;
  cursor: not-allowed;
  opacity: 0.3;
}
span.fr-wizard-prev-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full.xforms-readonly button i {
  color: #003366;
}

/* Bottom navigation - Clear button (BC Secondary Button) */
span.fr-clear-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button {
  background-color: white;
  border-color: #003366;
  color: #003366;
}
span.fr-clear-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full:hover button {
  background-color: #003366;
  border-color: #003366;
  color: white;
  opacity: 0.8
}
span.fr-clear-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button i {
  color: #003366;
}
span.fr-clear-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full:hover button i {
  color: white;
}

/* Bottom navigation - Save PDF button (BC Secondary Button) */
span.fr-pdf-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button {
  background-color: white;
  border-color: #003366;
  color: #003366;
}
span.fr-pdf-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full:hover button {
  background-color: #003366;
  color: white;
  opacity: 0.8
}
span.fr-pdf-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button i {
  color: #003366;
}
span.fr-pdf-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full:hover button i {
  color: white;
}

/* Bottom navigation - Refresh button (BC Secondary Button) */
span.fr-refresh-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button {
  background-color: white;
  border-color: #003366;
  color: #003366;
}
@media (max-width: 640px) {
  span.fr-refresh-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button {
    width: 100%;
  }
}
span.fr-refresh-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full:hover button {
  background-color: #003366;
  color: white;
  opacity: 0.8;
}
span.fr-refresh-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button i {
  color: #003366;
  left: -10px;
  position: relative;
}
@media (max-width: 640px) {
  span.fr-refresh-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button i {
    left: 0px;
  }
}
span.fr-refresh-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full:hover button i {
  color: white;
}

/* Bottom navigation - Submit/Email button (BC Primary Button) */
span.fr-email-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full button {
  background-color: #003366;
  border-color: #003366;
  color: white;
}
span.fr-email-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full:hover button {
  opacity: 0.8;
}
span.fr-email-button.xforms-control.xforms-trigger.xforms-trigger-appearance-full:hover button i {
  color: white;
}
